@page
@model WUCSA.Web.Pages.SportType.ListModel
@inject IViewLocalizer Localizer
@{ ViewData["Title"] = Localizer["Types of Sport"];
    Layout = "_Layout"; }

@section Head {
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="Types, Sport" />
    <meta name="image" content="http://www.wucsa.com/" />
}

@section CSS {
    <link rel="stylesheet" href="~/css/rank_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["Types of Sport"]</h1>
                    <p>
                        Business plan draws on a wide range of knowledge from different business<br> disciplines.
                        Business draws on a wide range of different business .
                    </p>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a href="#">@Localizer["Types of Sport"]</a></li>
                    <li>
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <a asp-page="/SportType/Create">@Localizer["Add new Type of Sport"]</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="xs-category section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">@Localizer["Choose Sport Type"]</h2>
                </div>
            </div>
        </div>
        <div class="cat-head">
            <div class="row">
                @foreach (var sportType in Model.SportTypes)
                {
                    <div class="col-lg-3 col-md-6 col-12">
                        <a asp-page="/SportType/Index" asp-route-slug="@sportType.Slug" class="single-cat wow fadeInUp" data-wow-delay=".6s">
                            <div class="icon">
                                <i class="lni lni-home"></i>
                            </div>
                            <h3>
                                @switch (Model.RCName)
                                {
                                    case "ru":
                                        @sportType.NameRu;
                                        break;
                                    case "uz":
                                        @sportType.NameUz;
                                        break;
                                    default:
                                        @sportType.Name;
                                        break;
                                }
                            </h3>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
