@page
@model WUCSA.Web.Pages.Staff.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
    int num = Model.Input.Staff.Certificates.Count;
}

@section CSS {
    <link rel="stylesheet" href="~/css/staff_style.css"/>
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Edit this Member</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li>
                        <a asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a asp-page="/Staff/Index">Members</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section staff-single">
<div class="container">
<div class="row">
<form enctype="multipart/form-data" method="post" novalidate class="needs-validation">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Input.Staff.Id"/>
<div class="single-inner">
<div class="grid">
    <input id="isDel-" type="hidden" asp-for="Input.IsCoverPhotoDeleted"/>
    <div class="col-lg-4 col-md-5 col-sm-6">
        <div id="uploadBtn-666" class="button" style="display: none;">
            <a style="margin-bottom: 2%;" class="btn file-btn">
                <span>Choose an image</span>
                <input id="uploadInput-666" type="file" asp-for="Input.UploadCoverPhoto" onchange="readURL(this);" value="Choose a file" accept="image/*"/>
            </a>
        </div>
        <div id="removeBtn-666" class="button mb-20">
            <button type="button" class="btn mouse-dir white-bg" onclick="removeUpload(666)">Delete <span id="img-text"></span></button>
        </div>
        <div id="post-thubs-666" class="post-thumbnils">
            <img id="uploadedImg-666" src="@Model.Input.Staff.ProfilePhotoPath" alt="">
        </div>
    </div>
</div>
<div class="staff-details">
<div class="detail-inner">
<div class="row">
<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.FirstName" class="control-label"></label>
        <input asp-for="Input.Staff.FirstName" class="form-control"/>
        <span asp-validation-for="Input.Staff.FirstName" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.LastName" class="control-label"></label>
        <input asp-for="Input.Staff.LastName" class="form-control"/>
        <span asp-validation-for="Input.Staff.LastName" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.BirthDate" class="control-label"></label>
        <input type="date" asp-for="Input.Staff.BirthDate" class="form-control"/>
        <span asp-validation-for="Input.Staff.BirthDate" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.CountryCode" class="control-label"></label>
        <select class="form-control" asp-for="Input.Staff.CountryCode">
            <option value="AF">Afghanistan</option>
            <option value="AX">Åland Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia (Plurinational State of)</option>
            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
            <option value="BA">Bosnia and Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="BN">Brunei Darussalam</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CA">Canada</option>
            <option value="CV">Cabo Verde</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo</option>
            <option value="CD">Congo (Democratic Republic of the)</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="CI">Côte d'Ivoire</option>
            <option value="HR">Croatia</option>
            <option value="CU">Cuba</option>
            <option value="CW">Curaçao</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands (Malvinas)</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GG">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard Island and McDonald Islands</option>
            <option value="VA">Holy See</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran (Islamic Republic of)</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle of Man</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option><option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option>
            <option value="KP">Korea (Democratic People's Republic of)</option><option value="KR">Korea (Republic of)</option>
            <option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Lao People's Democratic Republic</option>
            <option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option>
            <option value="LY">Libya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option><option value="MO">Macao</option>
            <option value="MK">Macedonia (the former Yugoslav Republic of)</option>
            <option value="MG">Madagascar</option><option value="MW">Malawi</option>
            <option value="MY">Malaysia</option><option value="MV">Maldives</option>
            <option value="ML">Mali</option><option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option><option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option><option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option><option value="MX">Mexico</option>
            <option value="FM">Micronesia (Federated States of)</option>
            <option value="MD">Moldova (Republic of)</option><option value="MC">Monaco</option>
            <option value="MN">Mongolia</option><option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option><option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option><option value="MM">Myanmar</option>
            <option value="NA">Namibia</option><option value="NR">Nauru</option>
            <option value="NP">Nepal</option><option value="NL">Netherlands</option>
            <option value="NC">New Caledonia</option><option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option><option value="NE">Niger</option>
            <option value="NG">Nigeria</option><option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option><option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestine, State of</option>
            <option value="PA">Panama</option><option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Réunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russian Federation</option>
            <option value="RW">Rwanda</option>
            <option value="BL">Saint Barthélemy</option>
            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
            <option value="KN">Saint Kitts and Nevis</option>
            <option value="LC">Saint Lucia</option>
            <option value="MF">Saint Martin (French part)</option>
            <option value="PM">Saint Pierre and Miquelon</option>
            <option value="VC">Saint Vincent and the Grenadines</option>
            <option value="WS">Samoa</option><option value="SM">San Marino</option>
            <option value="ST">Sao Tome and Principe</option>
            <option value="SA">Saudi Arabia</option><option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SX">Sint Maarten (Dutch part)</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia and the South Sandwich Islands</option>
            <option value="SS">South Sudan</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SD">Sudan</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard and Jan Mayen</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="SY">Syrian Arab Republic</option>
            <option value="TW">Taiwan, Province of China</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania, United Republic of</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks and Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom of Great Britain and Northern Ireland</option>
            <option value="US">United States of America</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VE">Venezuela (Bolivarian Republic of)</option>
            <option value="VN">Viet Nam</option>
            <option value="VG">Virgin Islands (British)</option>
            <option value="VI">Virgin Islands (U.S.)</option>
            <option value="WF">Wallis and Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
            <option value="WW">WUCSA</option>
        </select>
        <span asp-validation-for="Input.Staff.CountryCode" class="text-danger"></span>
    </div>
</div>

<div class="col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.CountryName" class="control-label"></label>
        <input asp-for="Input.Staff.CountryName" class="form-control"/>
        <span asp-validation-for="Input.Staff.CountryName" class="text-danger"></span>
    </div>
</div>

<div class="col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.Location" class="control-label"></label>
        <input asp-for="Input.Staff.Location" class="form-control"/>
        <span asp-validation-for="Input.Staff.Location" class="text-danger"></span>
    </div>
</div>

<div class="col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.Position" class="control-label"></label>
        <input asp-for="Input.Staff.Position" class="form-control"/>
        <span asp-validation-for="Input.Staff.Position" class="text-danger"></span>
    </div>
</div>

<div class="col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.PositionRu" class="control-label"></label>
        <input asp-for="Input.Staff.PositionRu" class="form-control"/>
        <span asp-validation-for="Input.Staff.PositionRu" class="text-danger"></span>
    </div>
</div>

<div class="col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.PositionUz" class="control-label"></label>
        <input asp-for="Input.Staff.PositionUz" class="form-control"/>
        <span asp-validation-for="Input.Staff.PositionUz" class="text-danger"></span>
    </div>
</div>

<div class="col-12">
    <div class="form-group mt-4">
        <label asp-for="Input.Staff.Description" class="control-label"></label>
        <span asp-validation-for="Input.Staff.Description" class="text-danger"></span>
        <textarea asp-for="Input.Staff.Description" height="300" class="form-control"></textarea>
    </div>
</div>

<div class="col-12">
    <div class="form-group mt-4">
        <label asp-for="Input.Staff.DescriptionRu" class="control-label"></label>
        <span asp-validation-for="Input.Staff.DescriptionRu" class="text-danger"></span>
        <textarea asp-for="Input.Staff.DescriptionRu" height="300" class="form-control"></textarea>
    </div>
</div>

<div class="col-12">
    <div class="form-group mt-4 mb-30">
        <label asp-for="Input.Staff.DescriptionUz" class="control-label"></label>
        <span asp-validation-for="Input.Staff.DescriptionUz" class="text-danger"></span>
        <textarea asp-for="Input.Staff.DescriptionUz" height="300" class="form-control"></textarea>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.FacebookUrl" class="control-label"></label>
        <input asp-for="Input.Staff.FacebookUrl" class="form-control"/>
        <span asp-validation-for="Input.Staff.FacebookUrl" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.InstagramUrl" class="control-label"></label>
        <input asp-for="Input.Staff.InstagramUrl" class="form-control"/>
        <span asp-validation-for="Input.Staff.InstagramUrl" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.TwitterUrl" class="control-label"></label>
        <input asp-for="Input.Staff.TwitterUrl" class="form-control"/>
        <span asp-validation-for="Input.Staff.TwitterUrl" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.TelegramUrl" class="control-label"></label>
        <input asp-for="Input.Staff.TelegramUrl" class="form-control"/>
        <span asp-validation-for="Input.Staff.TelegramUrl" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.PhoneNumber" class="control-label"></label>
        <input asp-for="Input.Staff.PhoneNumber" class="form-control"/>
        <span asp-validation-for="Input.Staff.PhoneNumber" class="text-danger"></span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-12">
    <div class="form-group">
        <label asp-for="Input.Staff.Email" class="control-label"></label>
        <input asp-for="Input.Staff.Email" class="form-control"/>
        <span asp-validation-for="Input.Staff.Email" class="text-danger"></span>
    </div>
</div>

<div class="col-1">
    <div class="form-group">
        <label asp-for="Input.Staff.OrderNumber" class="control-label"></label>
        <input asp-for="Input.Staff.OrderNumber" class="form-control"/>
        <span asp-validation-for="Input.Staff.OrderNumber" class="text-danger"></span>
    </div>
</div>

<div class="col-12 mb-30 mt-20">
    <div class="form-group form-check">
        <input type="checkbox" asp-for="Input.Staff.IsMember" class="form-check-input"/>
        <label class="form-check-label" for="exampleCheck1">Is Membership?</label>
    </div>
</div>

</div>
<div id="main_row" class="row">
    @if (Model.Input.Staff.Certificates.Count > 0)
    {
        @for (int i = 0; i < Model.Input.Staff.Certificates.Count; i++)
        {
            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <div class="part_row">
                    <input type="hidden" name="Model[@i].Id" value="@Model.Input.Staff.Certificates.ToArray()[i].Id"/>
                    <input type="hidden" name="Model[@i].CertPath" value="@Model.Input.Staff.Certificates.ToArray()[i].CertPath"/>
                    <input id="cn-@(i)" type="hidden" name="Model[@i].CertName" value="@Model.Input.Staff.Certificates.ToArray()[i].CertName"/>
                    <h3 class="single-section-title">Certificate @(i + 1)</h3>
                    <div class="p-0">
                        <div id="uploadBtn-@(i)" class="button" style="display: none;">
                            <a style="margin-bottom: 2%;" class="btn file-btn">
                                <span>Choose an image</span>
                                <input id="uploadInput-@(i)" type="file" name="UploadFiles" onchange="readURL(this);" value="Choose a file" accept="image/*"/>
                            </a>
                        </div>
                        <div id="removeBtn-@(i)" class="button mb-20">
                            <button type="button" class="btn mouse-dir white-bg" onclick="removeUpload(@i)">
                                Delete <span id="img-text-@(i)"></span>
                            </button>
                        </div>
                        <div id="post-thubs-@(i)" class="post-thumbnils thumbnil-x">
                            <img height="200" id="uploadedImg-@(i)" src="@Model.Input.Staff.Certificates.ToArray()[i].CertPath" alt="">
                        </div>
                    </div>
                    <div class="add-post-btn float-right mt-20">
                        <a type="button" onclick="deleteTemplate(this)" class="btn-delete">
                            <i class="lni lni-remove-file"></i>
                            Delete this Certificate
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div>
    <div class="add-post-btn mt-10">
        <a type="button" id="btn-add-new" class="btn-added">
            <i class="lni lni-add-files"></i> Add new Certificate
        </a>
    </div>
</div>
<div class="col-3 mx-auto">
    <div class="button form-group mt-5">
        <input type="submit" value="Update" class="btn"/>
    </div>
</div>
</div>
</div>
</div>
</form>
</div>
</div>
<input type="hidden" id="totalContacts" value="@num"/>
</section>

@section Scripts {
    <script>

        $("#btn-add-new").click(function () {
            var tc = parseInt($("#totalContacts").val());
            tc = tc + 1;
            $("#totalContacts").val(tc)

            $("#main_row").append(
                `<div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="part_row">
                        <input id="cn-${tc - 1}" type="hidden" name="Model[${tc - 1}].CertName" value="null-${tc - 1}"/>
                        <h3 class="single-section-title">Certificate ${tc}</h3>
                        <div>
                            <div id="uploadBtn-${tc - 1}" class="button">
                                <a style="margin-bottom: 2%;" class="btn file-btn">
                                    <span>Choose an image</span>
                                    <input id="uploadInput-${tc - 1}" type="file" name="UploadFiles" onchange="readURL(this);" value="Choose a file" accept="image/*" />
                                </a>
                            </div>
                            <div id="removeBtn-${tc - 1}" class="button mb-20" style="display: none;">
                                <button type="button" class="btn mouse-dir white-bg" onclick="removeUpload(${tc - 1})">Delete <span id="img-text-${tc - 1}"></span>
                                </button>
                            </div>
                            <div id="post-thubs-${tc - 1}" class="post-thumbnils thumbnil-x" style="display: none;">
                                <img height="200px" id="uploadedImg-${tc - 1}" src="" alt="">
                            </div>
                        </div>
                        <div class="add-post-btn float-right mt-20">
                            <a type="button" onclick="deleteTemplate(this)" class="btn-delete"><i class="lni lni-remove-file"></i>
                                Delete This
                            </a>
                        </div>
                    </div>
                </div>`
            )
        });

        function deleteTemplate(e) {
            var tc = parseInt($("#totalContacts").val());
            tc = tc - 1;
            $("#totalContacts").val(tc)

            $(e).parent().parent().remove();
        }

        function readURL(input) {
            if (input.files && input.files[0]) {

                var tmpId = $(input).attr('id');
                var idNumber = tmpId.split('-');
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#uploadBtn-' + idNumber[1]).hide();

                    $('#uploadedImg-' + idNumber[1]).attr('src', e.target.result);
                    $('#post-thubs-' + idNumber[1]).show();
                    $('#removeBtn-' + idNumber[1]).show();

                    $('#img-text-' + idNumber[1]).html(input.files[0].name);
                };
                $('#cn-' + idNumber[1]).val("new-" + idNumber[1]);
                reader.readAsDataURL(input.files[0]);
                $('#isDel-' + e).val(false);

            } else {
                removeUpload();
            }
        }

        function removeUpload(e) {
            $('#uploadInput-' + e).replaceWith($('#uploadInput-' + e).clone());
            $('#cn-' + e).val("null-" + e);
            $('#removeBtn-' + e).hide();
            $('#isDel-' + e).val(true);
            $('#post-thubs-' + e).hide();
            $('#uploadBtn-' + e).show();
        }

    </script>
}