@page
@model WUCSA.Web.Pages.ContactModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ContactsTitle"];
    Layout = "_Layout";
}

@section CSS{
    <link rel="canonical" href="https://wucsa.com/contact" />
    <link rel="stylesheet" href="~/css/contacts_style.css" />
}
<!-- Start Breadcrumbs -->
<div class="contacts_bg breadcrumbs  overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["Contact Us"]</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="/Contact">@Localizer["Contacts"]</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<section id="contact-us" class="contact-us section pb-5">
    <div class="container">

        <div class="contact-head wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-7 col-12 p-0">
                    <div class="map-container">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe id="gmap_canvas" 
                                        src="https://maps.google.com/maps?q=41.20164801445408%2069.16078090667726+(World%20Usmanov`s%20Combat%20Systems%20Association)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" 
                                        scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400" frameborder="0">
                                </iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 400px;
                                        width: 100%;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 400px;
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 p-0">
                    <div class="single-head">
                        <div class="contant-inner-title">
                            <h4>@Localizer["Contact Information"]</h4>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-phone"></i>
                            <ul>
                                <li><a href="tel:+998946842929">+998 (94) 684-29-29</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-envelope"></i>
                            <ul>
                                <li><a href="mailto:uzcra@mail.ru">uzcra@mail.ru</a></li>
                                <li><a href="mailto:sport.wucsa@gmail.com">info@wucsa.com</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-map"></i>
                            <ul>
                                <li>@Localizer["ContactAddressUz"]</li>
                            </ul>
                        </div>
                        <div class="contact-social">
                            <h5>@Localizer["Follow Us on"]</h5>
                            <ul>
                                <li><a href="https://www.facebook.com/sport.wucsa"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="https://www.instagram.com/sport.wucsa/"><i class="lni lni-instagram-original"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC0k-nMJi--uT9kK_PNM2x0g"><i class="lni lni-youtube"></i></a></li>
                                <li><a href="https://t.me/wucsa"><i class="lni lni-telegram-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-head wow fadeInUp mt-lg-5 mt-4" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-lg-5 col-12 p-0">
                    <div class="single-head">
                        <div class="contant-inner-title">
                            <h4>@Localizer["Contact Information"]</h4>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-phone"></i>
                            <ul>
                                <li><a href="tel:+998946842929">+998 (94) 684-29-29</a></li>
                                <li><a href="tel:+998335390101">+998 (33) 539-01-01</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-envelope"></i>
                            <ul>
                                <li><a href="mailto:uzcra@mail.ru">uzcra@mail.ru</a></li>
                                <li><a href="mailto:info@yourwebsite.com">info@wucsa.com</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-map"></i>
                            <ul>
                                <li>@Localizer["ContactAddressGe"]</li>
                            </ul>
                        </div>
                        <div class="contact-social">
                            <h5>@Localizer["Follow Us on"]</h5>
                            <ul>
                                <li><a href="https://www.facebook.com/sport.wucsa"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="https://www.instagram.com/sport.wucsa/"><i class="lni lni-instagram-original"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC0k-nMJi--uT9kK_PNM2x0g"><i class="lni lni-youtube"></i></a></li>
                                <li><a href="https://t.me/wucsa"><i class="lni lni-telegram-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 p-0">
                    <div class="map-container">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=41.4710942041528%2044.78516578674317+(World%20Usmanov`s%20Combat%20Systems%20Association)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                                        scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400" frameborder="0">
                                </iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 400px;
                                        width: 100%;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 400px;
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-head wow fadeInUp mt-lg-5 mt-4 mb-5" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row">
                <div class="form-main">
                    <form id="MsgForm" class="form" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="text" id="AuthorName" placeholder="@Localizer["Your Name"]" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="text" id="MsgSubject" placeholder="@Localizer["Your Subject"]" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="email" id="AuthorEmail" placeholder="@Localizer["Your Email"]" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="tel" id="AuthorPhoneNum" placeholder="@Localizer["Your Phone"]" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group message">
                                    <textarea id="MsgContent" placeholder="@Localizer["Your Message"]" required="required"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group button">
                                    <button type="submit" class="btn">@Localizer["Submit Message"]</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts {

    <script>
        document.getElementById("header_contacts_id").className = "active";


        $("#MsgForm").submit(function (e) {
            e.preventDefault();
            var authorName = $('#AuthorName').val();
            var authorEmail = $('#AuthorEmail').val();
            var authorPhone = $('#AuthorPhone').val();
            var msgSubject = $('#MsgSubject').val();
            var msgContent = $('#MsgContent').val();
            $.ajax({
                type: "POST",
                url: "/Contact?handler=Message",
                data: {
                    authorName: authorName,
                    authorEmail: authorEmail,
                    authorPhone: authorPhone,
                    msgSubject: msgSubject,
                    msgContent: msgContent
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (result){
                    $('#MsgForm').trigger("reset");
                    alert(result);
                }
            });
        });
    </script>
}
