@page "{location}/{slug}"
@model WUCSA.Web.Pages.Rank.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = $"{ViewData["RankTitle"].ToString()} - {Localizer["RankTitle"].Value}";
    Layout = "_Layout";
}

@section Head {
    @{
        var imgUrl = $"http://www.wucsa.com/images/favicon.ico";
        var rankUrl = ViewData["RankUrl"];
    }
    <meta name="author" content="@Localizer["AuthorFullName"]" />
    <meta name="keywords" content="@Localizer["RankKeyWords"], " />
    <meta name="description" content="@ViewData["RankDescription"]" />
    <meta name="image" content="@imgUrl" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="@rankUrl" />
    <meta property="og:title" content="@ViewData["RankTitle"]" />
    <meta property="og:description" content="@ViewData["RankDescription"]" />
    <meta property="og:image" content="@imgUrl" />

    <meta name="twitter:card" content="@Localizer["RankCard"]" />
    <meta name="twitter:url" content="@rankUrl" />
    <meta name="twitter:title" content="@ViewData["RankTitle"]" />
    <meta name="twitter:description" content="@ViewData["RankDescription"]" />
    <meta name="twitter:creator" content="@Localizer["AuthorFullName"]" />
    <meta name="twitter:image" content="@imgUrl" />
}

@section CSS {
    <link rel="stylesheet" href="~/css/rank_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">
                        @ViewData["RankTitle"]
                    </h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="/Rank/List" asp-route-location="world">@Localizer["Ranking"]</a></li>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-page="/RankParticipant/Create" asp-route-id="@Model.Rank.Id">@Localizer["Add new Ranking List"]</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="rank-details section-rank pt-50 pb-50">
    <div class="container">
        <div class="row mb-n5">

            <div class="col-lg-8 col-12 mb-20">
                <div class="rank-details-inner">
                    <div class="rank-details-head row mx-0">

                        <div class="content col-lg col-sm-12">
                            <h5 class="title">
                                @switch (Model.RCName)
                                {
                                    case "ru":
                                        @Model.Rank.TitleRu
                                        break;
                                    case "uz":
                                        @Model.Rank.TitleUz
                                        break;
                                    default:
                                        @Model.Rank.Title
                                        break;
                                }
                            </h5>
                            <ul class="meta">
                                <li><i class="lni lni-map-marker"></i> @Localizer["Location"]</li>
                            </ul>
                            <ul class="s-type-meta">
                                @foreach (var rankSportType in Model.Rank.RankSportTypes)
                                {
                                    <li>
                                        <a asp-page="/SportType/Index" asp-route-slug="@rankSportType.SportType.Slug">
                                            @switch (Model.RCName)
                                            {
                                                case "ru":
                                                    @rankSportType.SportType.NameRu
                                                    break;
                                                case "uz":
                                                    @rankSportType.SportType.NameUz
                                                    break;
                                                default:
                                                    @rankSportType.SportType.Name
                                                    break;
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="file-type col-lg-auto col-sm-12">
                            <span class="file-range">@Localizer["Ranking List (PDF)"]</span>
                            <a href="@ViewData["PDFFilePath"]" id="file-upload"><i class="lni lni-download"></i> @Localizer["Download"]</a>
                        </div>
                    </div>
                    <div class="rank-details-body">
                        <p>
                            @switch (Model.RCName)
                            {
                                case "ru":
                                    @Model.Rank.DescriptionRu
                                    break;
                                case "uz":
                                    @Model.Rank.DescriptionUz
                                    break;
                                default:
                                    @Model.Rank.Description
                                    break;
                            }
                        </p>

                        @if (Model.RankParticipants != null)
                        {
                            foreach (var rankParticipant in Model.RankParticipants)
                            {
                                <h6>
                                    @switch (Model.RCName)
                                    {
                                        case "ru":
                                            @rankParticipant.SportType.Name
                                            break;
                                        case "uz":
                                            @rankParticipant.SportType.NameUz
                                            break;
                                        default:
                                            @rankParticipant.SportType.Name
                                            break;
                                    }
                                    - @rankParticipant.Weight @Localizer["kg"] - @Localizer[rankParticipant.Gender.ToString()]
                                </h6>

                                <div class="rank-items">

                                    <div class="manage-list">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-12">
                                                <p>@Localizer["Position"]</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-6">
                                                <p>@Localizer["Name"]</p>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <p>@Localizer["Last Name"]</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-12">
                                                <p>@Localizer["Birth Date"]</p>
                                            </div>
                                        </div>
                                    </div>

                                    @foreach (var participant in rankParticipant.Participants)
                                    {
                                        <div class="manage-content">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-lg-2 col-md-2 col-12">
                                                    <h3>@participant.PositionNumber</h3>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-6">
                                                    <h3>@participant.FirstName</h3>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-6">
                                                    <h3>@participant.LastName</h3>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-12">
                                                    <h3>@participant.BirthDate.ToString("dd MMMM, yyyy")</h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                {
                                    <div class="actionBtn">
                                        <ul>
                                            <li><i class="lni lni-pencil"></i><a asp-page="/RankParticipant/Edit" asp-route-rankId="@Model.Rank.Id" asp-route-rankPartId="@rankParticipant.Id"> @Localizer["Edit"]</a></li>
                                            <li><i class="lni lni-trash"></i><a asp-page="/RankParticipant/Delete" asp-route-id="@rankParticipant.Id"> @Localizer["Delete"]</a></li>
                                        </ul>
                                    </div>
                                }
                            }
                        }

                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-12">
                <div class="rank-details-sidebar">

                    <div class="sidebar-widget">
                        <div class="inner">
                            <h6 class="title">Facebook</h6>
                            <div id="fb-root"></div>
                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0"></script>
                            <div class="fb-page" data-href="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/"
                                 data-tabs="timeline" data-width="" data-height=""
                                 data-small-header="false" data-adapt-container-width="true"
                                 data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/">International Combat Aikido Association</a>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    @*<div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Instagram</h6>
                                <div id="pixlee_container"></div>
                                <script type="text/javascript">
                                    window.PixleeAsyncInit = function () {
                                        Pixlee.init({
                                            apiKey: 'ploM-QKD99wEZtxbFXVa'
                                        });
                                        Pixlee.addSimpleWidget({
                                            widgetId: '32803'
                                        });
                                    };
                                </script>
                                <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
                            </div>
                        </div>*@

                </div>
            </div>

        </div>
    </div>
</div>
