@page
@using WUCSA.Core.Entities.RankModel
@model WUCSA.Web.Pages.Rank.EditModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Edit"];
    Layout = "_Layout";
}

@section CSS {
    <link rel="stylesheet" href="~/css/rank_style.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["Edit new Article"]</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="/Rank/List">@Localizer["Rank"]</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="rank-post section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="rank-information">
                    <h3 class="title">@Localizer["Rank Information"]</h3>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Input.Rank.Id" />
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Types of Sport</label>
                                    <ejs-multiselect dataSource="@Model.SportTypes" placeholder="Select Types of Sport" ejs-for="SelectedStypesId">
                                        <e-multiselect-fields text="Name" value="Id"></e-multiselect-fields>
                                    </ejs-multiselect>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.RankLocation" class="control-label"></label>
                                    <select class="select" asp-for="Input.Rank.RankLocation" asp-items="Html.GetEnumSelectList<RankLocation>()">
                                        <option value="" disabled>@Localizer["Please select Location"]</option>
                                    </select>
                                    <span asp-validation-for="Input.Rank.RankLocation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.RankDate" class="control-label"></label>
                                    <input class="form-control" type="date" asp-for="Input.Rank.RankDate">
                                    <span asp-validation-for="Input.Rank.RankDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label id="uploadFileLabel" class="control-label">@Localizer["Ranking List (PDF)"]</label>
                                    <ul class="pdf_editors">
                                        <li><a href="@ViewData["PDFFilePath"]"><i class="lni lni-download"></i>  Download</a></li>
                                        <li>
                                            <a class="file-btn">
                                                <i class="lni lni-upload"></i>  @Localizer["Upload"]
                                                <input onchange="getFileData(this);" type="file" asp-for="Input.UploadPdf" accept="application/pdf" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.Title" class="control-label"></label>
                                    <input asp-for="Input.Rank.Title" class="form-control" />
                                    <span asp-validation-for="Input.Rank.Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.TitleRu" class="control-label"></label>
                                    <input asp-for="Input.Rank.TitleRu" class="form-control" />
                                    <span asp-validation-for="Input.Rank.TitleRu" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.TitleUz" class="control-label"></label>
                                    <input asp-for="Input.Rank.TitleUz" class="form-control" />
                                    <span asp-validation-for="Input.Rank.TitleUz" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.Description" class="control-label"></label>
                                    <span asp-validation-for="Input.Rank.Description" class="text-danger"></span>
                                    <textarea asp-for="Input.Rank.Description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.DescriptionRu" class="control-label"></label>
                                    <span asp-validation-for="Input.Rank.DescriptionRu" class="text-danger"></span>
                                    <textarea asp-for="Input.Rank.DescriptionRu" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.DescriptionUz" class="control-label"></label>
                                    <span asp-validation-for="Input.Rank.DescriptionUz" class="text-danger"></span>
                                    <textarea asp-for="Input.Rank.DescriptionUz" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.Rank.Location" class="control-label"></label>
                                    <input asp-for="Input.Rank.Location" class="form-control" />
                                    <span asp-validation-for="Input.Rank.Location" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 button">
                                <button class="btn">
                                    @Localizer["Update"]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script>
        function getFileData(myFile) {
            var file = myFile.files[0];
            document.getElementById("uploadFileLabel").innerHTML = file.name;
        }
    </script>
}