@page "{loc}/{gender}"
@model WUCSA.Web.Pages.Rank.ListModel
@inject IViewLocalizer Localizer
@namespace WUCSA.Models

@{ 
    ViewData["Title"] = Localizer["RankTitle"];
    Layout = "_Layout";
}

@section Head {
    <meta name="author" content="@Localizer["AuthorFullName"]" />
    <meta name="keywords" content="@Localizer["RankKeyWords"]" />
    <meta name="description" content="@Localizer["RankDescription"]" />
    <meta name="image" content="http://www.wucsa.com/images/favicon.ico" />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewData["RankListUrl"]" />
    <meta property="og:title" content="@Localizer["RankTitle"]" />
    <meta property="og:description" content="@Localizer["RankDescription"]" />
    <meta property="og:image" content="http://www.wucsa.com/images/favicon.ico" />
    
    <meta name="twitter:card" content="@Localizer["RankCard"]" />
    <meta name="twitter:url" content="@ViewData["RankListUrl"]" />
    <meta name="twitter:title" content="@Localizer["RankTitle"]" />
    <meta name="twitter:description" content="@Localizer["RankDescription"]" />
    <meta name="twitter:creator" content="@Localizer["AuthorFullName"]" />
    <meta name="twitter:image" content="http://www.wucsa.com/images/favicon.ico" />
}

@section CSS {
    <link rel="canonical" href="https://wucsa.com/rank/list/world/man" />
    <link rel="stylesheet" href="~/css/rank_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["RankCard"]</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="Rank/List" asp-route-loc="World" asp-route-gender="Man">@Localizer["Ranking"]</a></li>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-page="/Rank/Create">@Localizer["Add new Ranking"]</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="find-rank rank-list section">
    <div class="container">
        <div class="row">
            <div class="search-nner">
                <form method="get">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-xs-12 mt-15">
                            <label class="control-label">@Localizer["Location"]</label>
                            <select class="select" asp-for="SelectedLocation" asp-items="@Model.LocationOptions">
                            </select>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-12 mt-15">
                            <label class="control-label">@Localizer["Gender"]</label>
                            <select class="select" asp-for="SelectedGender" asp-items="@Model.GenderOptions">
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 mt-35 button" style="display: flex; align-items: center;">
                            <button type="submit" class="btn btn-common float-right">@Localizer["Sort"]</button>
                        </div>
                    </div>
                </form>
            </div>

            @foreach (var rank in Model.Ranks)
            {
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="single-rank">
                        <div class="rank-content">
                            <h4>
                                <a href="rank-details.html">
                                    @switch (Model.RCName)
                                    {
                                        case "ru":
                                            @rank.TitleRu
                                            break;
                                        case "uz":
                                            @rank.TitleUz
                                            break;
                                        default:
                                            @rank.Title
                                            break;
                                    }
                                </a>
                            </h4>
                            <p>
                                @switch (Model.RCName)
                                {
                                    case "ru":
                                        @rank.DescriptionRu
                                        break;
                                    case "uz":
                                        @rank.DescriptionUz
                                        break;
                                    default:
                                        @rank.Description
                                        break;
                                }
                            </p>
                            <ul>
                                <li><i class="lni lni-calendar"></i> @rank.RankDate.ToString("dd MMMM, yyyy")</li>
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a asp-page="/Rank/Edit" asp-route-Id="@rank.Id"><i class="lni lni-pencil"></i> @Localizer["Edit"]</a>
                                    </li>
                                    <li>
                                        <a asp-page="/Rank/Delete" asp-route-Id="@rank.Id"><i class="lni lni-trash"></i></a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="rank-button">
                            <ul>
                                <li><a asp-page="/Rank/Index" asp-route-loc="@ViewData["ThisLocation"]" asp-route-gender="@ViewData["ThisGender"]" asp-route-slug="@rank.Slug">@Localizer["More"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }


        </div>

        <div class="row">
            <div class="col-12">
                <div class="pagination center">
                    <ul class="pagination-list">
                        <pagination class="mx-auto" page-index="@Model.Ranks.PageIndex" total-pages="@Model.Ranks.TotalPages" page-path="@Model.BasePath" />
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>