@page
@model WUCSA.Web.Pages.Rank.ListModel
@inject IViewLocalizer Localizer
@namespace WUCSA.Models

@{ ViewData["Title"] = Localizer["WUCSA Ranking"];
    Layout = "_Layout"; }

@section Head {
    <meta name="author" content="WUCSA" />
    <meta name="description" content="@Localizer["WUCSA official Ranking"]" />
    <meta name="keywords" content="WUCSA, Ranking, Rank" />
}

@section CSS {
    <link rel="stylesheet" href="~/css/blog_style.css" />
    <link rel="stylesheet" href="~/css/rank_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["Ranking List"]</h1>
                    <p>
                        Business plan draws on a wide range of knowledge from different business<br> disciplines.
                        Business draws on a wide range of different business .
                    </p>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="Rank/List">@Localizer["Rank"]</a></li>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-page="/Rank/Create">@Localizer["Add new Rank"]</a> 
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="section latest-news-area blog-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-12 mx-auto">
                        <div class="single-news wow fadeInUp" data-wow-delay=".3s"
                             style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="image">
                                <img src="~/images/map_wrld.png" alt="default cover photo" />
                            </div>
                            <div class="content-body">
                                <div class="meta-details">
                                    <ul>
                                        <li><a class="a-none"><i class="lni lni-list"></i> @Model.WorldRanksCount</a></li>
                                    </ul>
                                </div>
                                <div class="mt-20">
                                    <input type="radio" name="rankLoc" class="btn-check" id="btn-check-w" autocomplete="off" onclick="locationCheck(this.id)">
                                    <label class="btn btn-outline-primary" for="btn-check-w">@Localizer["World Ranking"]</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mx-auto">

                        <div class="single-news wow fadeInUp" data-wow-delay=".3s"
                             style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="image">
                                <img src="~/images/map_uzb.png" alt="default cover photo" />
                            </div>
                            <div class="content-body">
                                <div class="meta-details">
                                    <ul>
                                        <li><a class="a-none"><i class="lni lni-list"></i> @Model.NationalRanksCount</a></li>
                                    </ul>
                                </div>
                                <div class="mt-20">
                                    <input type="radio" name="rankLoc" class="btn-check" id="btn-check-n" autocomplete="off" onclick="locationCheck(this.id)">
                                    <label class="btn btn-outline-primary" for="btn-check-n">@Localizer["National Ranking"]</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section id="xs-cat" class="xs-category section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s">@Localizer["Sport Types"]</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">@Localizer["Choose Sport Type"]</h2>
                </div>
            </div>
        </div>
        <div class="cat-head">
            <div id="optionW" class="row">
                @foreach (var sportType in Model.SportTypes)
                {
                    <div class="col-lg-3 col-md-6 col-12">
                        <a asp-page="/Rank/SubList" asp-route-loc="world" asp-route-stype="@sportType.Name.ToLower()" class="single-cat wow fadeInUp" data-wow-delay=".6s">
                            <div class="icon">
                                <i class="lni lni-eye"></i>
                            </div>
                            <h3>
                                @switch (Model.RCName)
                                {
                                    case "ru":
                                        @sportType.NameRu;
                                        break;
                                    case "uz":
                                        @sportType.NameUz;
                                        break;
                                    default:
                                        @sportType.Name;
                                        break;
                                }
                            </h3>
                        </a>
                    </div>
                }
            </div>
            <div id="optionN" class="row">
                @foreach (var sportType in Model.SportTypes)
                {
                    <div class="col-lg-3 col-md-6 col-12">
                        <a asp-page="/Rank/SubList" asp-route-loc="national" asp-route-stype="@sportType.Name.ToLower()" class="single-cat wow fadeInUp" data-wow-delay=".6s">
                            <div class="icon">
                                <i class="lni lni-eye"></i>
                            </div>
                            <h3>
                                @switch (Model.RCName)
                                {
                                    case "ru":
                                        @sportType.NameRu;
                                        break;
                                    case "uz":
                                        @sportType.NameUz;
                                        break;
                                    default:
                                        @sportType.Name;
                                        break;
                                }
                            </h3>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<script>
    function locationCheck(e) {
        document.getElementById("xs-cat").style.display = "block";
        if (e == "btn-check-w") {
            document.getElementById("optionN").style.display = "none";
            document.getElementById("optionW").style.display = "block";
        }
        else if (e == "btn-check-n") {
            document.getElementById("optionW").style.display = "none";
            document.getElementById("optionN").style.display = "block";
        }
        var element_to_scroll_to = document.getElementById("xs-cat");
        element_to_scroll_to.scrollIntoView(true);
    }
</script>