@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Log In"];
}

@section CSS {
    <link rel="stylesheet" href="~/css/login_style.css" />
}

<section class="log-in-us section mb-30">
    <div class="container">
        <div class="col-lg-10 col-sm-12 mx-auto mt-50">
            <div class="contact-head wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                            <div class="row">
                                <form method="post">
                                    <div class="heading">
                                        <h3>@Localizer["Use a local account to&nbsp;log&nbsp;in."]</h3>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Username" class="label"></label>
                                        <input asp-for="Input.Username" class="form-control" placeholder="example@gmail.com" />
                                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password" class="label"></label>
                                        <div class="position-relative">
                                            <input asp-for="Input.Password" class="form-control" placeholder="@Localizer["Password"]" />
                                        </div>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group d-flex flex-wrap justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe">
                                            <label class="form-check-label" asp-for="Input.RememberMe">@Localizer["Remember Me"]</label>
                                        </div>
                                        <a asp-page="./ForgotPassword" class="font-size-3 text-dodger line-height-reset">@Localizer["Forgot your password?"]</a>
                                    </div>
                                    <div class="form-group mb-8 button">
                                        <button type="submit" class="btn">
                                            @Localizer["Log in"]
                                        </button>
                                    </div>
                                    <p class="text-center create-new-account">@Localizer["Don't have an account?"] <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Register as a new user"]</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                            <div class="row">

                                <div class="heading">
                                    <h3>@Localizer["Use another service to&nbsp;log&nbsp;in."]</h3>
                                </div>
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div class="social-login">
                                        <ul>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <li>
                                                    <button type="submit" class="@provider.DisplayName.ToLower() btn" name="provider" value="@provider.Name" title="@Localizer["Log in using your"] @provider.DisplayName @Localizer["account"]"><i class="lni lni-@provider.DisplayName.ToLower()"></i> @Localizer["Log in with"] @provider.DisplayName</button>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
