@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Syncfusion.EJ2.RichTextEditor
@model WUCSA.Web.Pages.Blog.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

@section CSS {
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <link rel="stylesheet" href="~/css/post_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Edit Article</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">Home</a></li>
                    <li><a asp-page="/Blog/List">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form onsubmit="setimg()" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Input.Blog.Id" />
                    <div class="single-inner">
                        <div class="grid">
                            <div class="col-lg-8 col-md-10 col-sm-12">
                                <div id="uploadBtn" class="button">
                                    <a style="margin-bottom: 2%;" class="btn file-btn">
                                        <span>Choose an image</span>
                                        <input id="uploadInput" type="file" asp-for="Input.UploadCoverPhoto" onchange="readURL(this);" value="Choose a file" accept="image/*" />
                                    </a>
                                </div>
                                <div id="removeBtn" class="button">
                                    <button type="button" class="btn mouse-dir white-bg" onclick="removeUpload()">Delete <span id="img-text"></span></button>
                                </div>
                                <div class="post-thumbnils">
                                    <img id="uploadedImg" src="@Model.Input.Blog.CoverPhotoPath" alt="@Model.Input.Blog.Title cover photo">
                                </div>
                            </div>
                        </div>
                        <div class="post-details">
                            <div class="detail-inner">
                                <div class="form-group">
                                    <label asp-for="Input.Blog.Title" class="control-label"></label>
                                    <input asp-for="Input.Blog.Title" class="form-control" />
                                    <span asp-validation-for="Input.Blog.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Blog.TitleRu" class="control-label"></label>
                                    <input asp-for="Input.Blog.TitleRu" class="form-control" />
                                    <span asp-validation-for="Input.Blog.TitleRu" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Blog.TitleUz" class="control-label"></label>
                                    <input asp-for="Input.Blog.TitleUz" class="form-control" />
                                    <span asp-validation-for="Input.Blog.TitleUz" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-4">
                                    <label asp-for="Input.Blog.Content" class="control-label"></label>
                                    <span asp-validation-for="Input.Blog.Content" class="text-danger"></span>
                                    <ejs-richtexteditor id="rich_texteditor" ejs-for="Input.Blog.Content" height="300">
                                        <e-richtexteditor-toolbarsettings items="@ViewData["toolbar"]" enableFloating="true">
                                        </e-richtexteditor-toolbarsettings>
                                    </ejs-richtexteditor>
                                </div>
                                <div class="form-group mt-4">
                                    <label asp-for="Input.Blog.ContentRu" class="control-label"></label>
                                    <span asp-validation-for="Input.Blog.ContentRu" class="text-danger"></span>
                                    <ejs-richtexteditor id="rich_texteditor_ru" ejs-for="Input.Blog.ContentRu" height="300">
                                        <e-richtexteditor-toolbarsettings items="@ViewData["toolbar"]" enableFloating="true">
                                        </e-richtexteditor-toolbarsettings>
                                    </ejs-richtexteditor>
                                </div>
                                <div class="form-group mt-4">
                                    <label asp-for="Input.Blog.ContentUz" class="control-label"></label>
                                    <span asp-validation-for="Input.Blog.ContentUz" class="text-danger"></span>
                                    <ejs-richtexteditor id="rich_texteditor_uz" ejs-for="Input.Blog.ContentUz" height="300">
                                        <e-richtexteditor-toolbarsettings items="@ViewData["toolbar"]" enableFloating="true">
                                        </e-richtexteditor-toolbarsettings>
                                    </ejs-richtexteditor>
                                </div>
                                <div class="form-group mt-20">
                                    <label asp-for="Input.Tags" class="control-label"></label>
                                    <label class="font-weight-light">&nbsp;(<span class="font-weight-bold text-danger">*</span>Do not duplicate tag names)</label>
                                    <input asp-for="Input.Tags" class="form-control" />
                                    <span asp-validation-for="Input.Tags" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="Input.Blog.IsCommentsLocked">
                                    <label class="form-check-label" for="exampleCheck1">Disable Comments?</label>
                                </div>
                                <div class="button form-group mt-4">
                                    <input type="submit" value="Update" class="btn" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @*<script src="https://cdn.tiny.cloud/1/gor58flziaueg8chsw70ufwp3mnxgqytjn0hgvh6agc8q65x/tinymce/5/tinymce.min.js"
            referrerpolicy="origin">
    </script>*@
    <script>
        $(document).ready(function () {
            document.getElementById("uploadBtn").style.display = "none";
        });
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#uploadBtn').hide();

                    $('#uploadedImg').attr('src', e.target.result);
                    $('.post-thumbnils').show();
                    $('#removeBtn').show();

                    $('#img-text').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }
        function removeUpload() {
            $('#uploadInput').replaceWith($('#uploadInput').clone());
            $('#removeBtn').hide();
            $('.post-thumbnils').hide();
            $('#uploadBtn').show();
        }
        //tinymce.init({
        //    selector: 'textarea.richtexteditor',
        //    menubar: false,
        //    plugins: [
        //        'advlist autolink lists link image charmap print preview anchor',
        //        'searchreplace visualblocks code fullscreen',
        //        'insertdatetime media table paste code help wordcount',
        //        'image'
        //    ],
        //    toolbar: 'undo redo | formatselect | ' +
        //        'bold italic backcolor | alignleft aligncenter ' +
        //        'alignright alignjustify | bullist numlist outdent indent | ' +
        //        'removeformat | image',
        //    image_title: true,
        //    /* enable automatic uploads of images represented by blob or data URIs*/
        //    automatic_uploads: true,
        //    file_picker_types: 'image',
        //    /* and here's our custom image picker*/
        //    file_picker_callback: function (cb, value, meta) {
        //        var input = document.createElement('input');
        //        input.setAttribute('type', 'file');
        //        input.setAttribute('accept', 'image/*');

        //        /*
        //          Note: In modern browsers input[type="file"] is functional without
        //          even adding it to the DOM, but that might not be the case in some older
        //          or quirky browsers like IE, so you might want to add it to the DOM
        //          just in case, and visually hide it. And do not forget do remove it
        //          once you do not need it anymore.
        //        */

        //        input.onchange = function () {
        //            var file = this.files[0];

        //            var reader = new FileReader();
        //            reader.onload = function () {
        //                /*
        //                  Note: Now we need to register the blob in TinyMCEs image blob
        //                  registry. In the next release this part hopefully won't be
        //                  necessary, as we are looking to handle it internally.
        //                */
        //                var id = 'blobid' + (new Date()).getTime();
        //                var blobCache = tinymce.activeEditor.editorUpload.blobCache;
        //                var base64 = reader.result.split(',')[1];
        //                var blobInfo = blobCache.create(id, file, base64);
        //                blobCache.add(blobInfo);

        //                /* call the callback and populate the Title field with the file name */
        //                cb(blobInfo.blobUri(), { title: file.name });
        //            };
        //            reader.readAsDataURL(file);
        //        };

        //        input.click();
        //    },
        //    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        //});

    </script>
}