@page
@using Microsoft.Extensions.Configuration
@model RegisterModel
@inject IConfiguration configuration
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Register"];
}

@section CSS {
    <link rel="stylesheet" href="~/css/login_style.css" />
}

<section class="log-in-us section mb-30">
    <div class="container">
        <div class="col-10 mx-auto mt-50">
            <div class="contact-head wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="row">
                    <div class="gixi gixi-md" data-gixiseed="such as username @DateTime.Now.Ticks.ToString()"></div>
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                            <div class="row">
                                <form id="reg-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div class="heading">
                                        <h3>@Localizer["Create a new account"]</h3>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.UserName" class="label"></label>
                                        <input asp-for="Input.UserName" class="form-control" placeholder="@Localizer["Username"]"/>
                                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email" class="label"></label>
                                        <input asp-for="Input.Email" class="form-control" id="gixiSeed" onchange="gixiFunc()" placeholder="example@gmail.com"/>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password" class="label"></label>
                                        <div class="position-relative">
                                            <input asp-for="Input.Password" class="form-control" placeholder="@Localizer["Password"]" />
                                        </div>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword" class="label"></label>
                                        <div class="position-relative">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Localizer["Confirm password"]" />
                                        </div>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-8 button">
                                        <button id="submitBtn" class="g-recaptcha btn"
                                                data-sitekey="@configuration.GetSection("reCAPTCHA:SiteKey").Value"
                                                data-callback='onSubmit'
                                                type="submit">
                                            @Localizer["Register"]
                                        </button>
                                    </div>
                                    <p class="text-center create-new-account">@Localizer["Already have an account?"] <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["log in"]</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                            <div class="row">

                                <div class="heading">
                                    <h3>@Localizer["Use another service register"]</h3>
                                </div>
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div class="social-login">
                                        <ul>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <li>
                                                    <button type="submit" class="@provider.DisplayName.ToLower() btn" name="provider" value="@provider.Name" title="@Localizer["Log in using your"] @provider.DisplayName @Localizer["account"]"><i class="lni lni-@provider.DisplayName.ToLower()"></i> @Localizer["Log in with"] @provider.DisplayName</button>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("reg-form").submit();
        }
    </script>
}
