@page
@model WUCSA.Web.Pages.AboutModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["About Us"];
}
@section CSS {
    <link rel="stylesheet" href="~/css/static_page_style.css" />
    <link href="https://cdn.syncfusion.com/ej2/ej2-richtexteditor/styles/material.css" rel="stylesheet" />
}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["About World Usmanov's Combat Systems Association"]</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">@Localizer["About Us"]</a></li>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li><a asp-page="/Admin/StaticPages/Create">@Localizer["Add new About Page"]</a></li>
                        <li><a asp-page="/Admin/StaticPages/Edit" asp-route-id="@Model.Blog.Id">@Localizer["Edit this About Page"]</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="static-page section">
    <div class="container">
        <div class="row mb-n5">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="page-inner">
                    <div class="page-details-body">
                        @if (Model.Blog == null)
                        {
                            <h4>@Localizer["Empty :D"]</h4>
                        }
                        else
                        {
                            @switch (Model.RCName)
                            {
                                case "ru":
                                    @Html.Raw(Model.Blog.ContentRu)
                                    break;
                                case "uz":
                                    @Html.Raw(Model.Blog.ContentUz)
                                    break;
                                default:
                                    @Html.Raw(Model.Blog.Content)
                                    break;
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
