@page
@model WUCSA.Web.Pages.ContactModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contact"];
    Layout = "_Layout";
}

@section CSS{
    <link rel="stylesheet" href="~/css/contacts_style.css" />
}
<!-- Start Breadcrumbs -->
<div class="contacts_bg breadcrumbs  overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Contact Us</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="/Contact">@Localizer["Contact Us"]</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<section id="contact-us" class="contact-us section pb-5">
    <div class="container">

        <div class="contact-head wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-7 col-12 p-0">
                    <div class="map-container">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=New%20York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400" frameborder="0"></iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 400px;
                                        width: 100%;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 400px;
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-12 p-0">
                    <div class="single-head">
                        <div class="contant-inner-title">
                            <h4>Contact Information</h4>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-phone"></i>
                            <ul>
                                <li><a href="tel:+998946842929">+998 (94) 684-29-29</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-envelope"></i>
                            <ul>
                                <li><a href="mailto:info@yourwebsite.com">example@yourwebsite.com</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-map"></i>
                            <ul>
                                <li>O’zbekiston Respublikasi, Toshkent viloyat, Zangiota tumani, 111817, «Xonobod» qfy, Taraqiyot mfy, Nurli xayot ko’chasi 80 uy.</li>
                            </ul>
                        </div>
                        <div class="contact-social">
                            <h5>Follow Us on</h5>
                            <ul>
                                <li><a href="https://www.facebook.com/sport.wucsa"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="https://www.instagram.com/sport.wucsa/"><i class="lni lni-instagram-original"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCYzKUR7sbhYYFXAV5bA-Juw"><i class="lni lni-youtube"></i></a></li>
                                <li><a href="https://t.me/wucsa"><i class="lni lni-telegram-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-head wow fadeInUp mt-lg-5 mt-4" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-lg-5 col-12 p-0">
                    <div class="single-head">
                        <div class="contant-inner-title">
                            <h4>Contact Information</h4>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-phone"></i>
                            <ul>
                                <li><a href="tel:+998946842929">+998 (94) 684-29-29</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-envelope"></i>
                            <ul>
                                <li><a href="mailto:info@yourwebsite.com">example@yourwebsite.com</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="lni lni-map"></i>
                            <ul>
                                <li>Georgia, City Marneuli, Street Rustaveli, N 7, Flat N 19</li>
                            </ul>
                        </div>
                        <div class="contact-social">
                            <h5>Follow Us on</h5>
                            <ul>
                                <li><a href="https://www.facebook.com/sport.wucsa"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="https://www.instagram.com/sport.wucsa/"><i class="lni lni-instagram-original"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCYzKUR7sbhYYFXAV5bA-Juw"><i class="lni lni-youtube"></i></a></li>
                                <li><a href="https://t.me/wucsa"><i class="lni lni-telegram-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 p-0">
                    <div class="map-container">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=New%20York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400" frameborder="0"></iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 400px;
                                        width: 100%;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 400px;
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-head wow fadeInUp mt-lg-5 mt-4 mb-5" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="row">
                <div class="form-main">
                    <form class="form" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="text" asp-for="@Model.AuthorName" placeholder="Your Name" required="required">
                                    <span class="text-danger" asp-validation-for="@Model.AuthorName"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="text" asp-for="@Model.MsgSubject" placeholder="Your Subject" required="required">
                                    <span class="text-danger" asp-validation-for="@Model.MsgSubject"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="email" asp-for="@Model.AuthorEmail" placeholder="Your Email" required="required">
                                    <span class="text-danger" asp-validation-for="@Model.AuthorEmail"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <input type="tel" asp-for="@Model.AuthorPhoneNum" placeholder="Your Phone" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group message">
                                    <span asp-validation-for="@Model.MsgContent" class="text-danger"></span>
                                    <textarea asp-for="@Model.MsgContent" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group button">
                                    <button type="submit" class="btn ">Submit Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts {

    <script>
        document.getElementById("header_contacts_id").className = "active";
    </script>
}
