@page
@model IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home"];
    Layout = "_Layout";
}

@section Head {
    <meta name="author" content="Fakhriddin Usmanov" />
    <meta name="keywords" content="wucsa, World, Usmanov`s, Combat, Systems, Association, Fakhriddin, Usmanov, 
          Demonstration, Light contact, Full contact A, Full contact B, Knockdown A, Knockdown B, Combat wrestling, 
          Knife battle, Chambara short sword, Chambara long sword, Muayboran, international, Aikido, Federation" />
    <meta name="description" content="Official website of World Usmanov`s Combat Systems Association, 
          Usmanov's  Combat Systems has 11 disciplines, including Demonstration, Light contact, Full contact A, 
          Full contact B, Knockdown A, Knockdown B, Combat wrestling, Knife battle, Chambara short sword, 
          Chambara long sword and Muayboran" />
    <meta name="image" content="http://www.wucsa.com/images/favicon.ico" />
    
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://wucsa.com" />
    <meta property="og:title" content="World Usmanov`s Combat Systems Association" />
    <meta property="og:description" content="Official website of World Usmanov`s Combat Systems Association, 
          Usmanov's  Combat Systems has 11 disciplines, including Demonstration, Light contact, Full contact A, 
          Full contact B, Knockdown A, Knockdown B, Combat wrestling, Knife battle, Chambara short sword, 
          Chambara long sword and Muayboran" />
    <meta property="og:image" content="http://www.wucsa.com/images/favicon.ico" />
    
    <meta name="twitter:card" content="Official website of World Usmanov`s Combat Systems Association" />
    <meta name="twitter:url" content="http://wucsa.com" />
    <meta name="twitter:title" content="World Usmanov`s Combat Systems Association" />
    <meta name="twitter:description" content="Official website of World Usmanov`s Combat Systems Association, 
          Usmanov's  Combat Systems has 11 disciplines, including Demonstration, Light contact, Full contact A, 
          Full contact B, Knockdown A, Knockdown B, Combat wrestling, Knife battle, Chambara short sword, 
          Chambara long sword and Muayboran" />
    <meta name="twitter:creator" content="Fakhriddin Usmanov" />
    <meta name="twitter:image" content="http://www.wucsa.com/images/favicon.ico" />
}

@section CSS {
    <link rel="stylesheet" href="~/lib/tinyslider/tiny-slider.css" />
    <link rel="stylesheet" href="~/css/home_style.css" />
}

<!-- Start Hero Area -->
<section class="hero-area">
    <!-- Single Slider -->
    <div class="hero-inner">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-md-6 co-12">
                    <div class="inner-content">
                        <div class="hero-text">
                            <h1 class="wow fadeInUp" data-wow-delay=".3s">
                                World Usmanov's<br>Combat Systems<br>Association
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".5s">
                                Creating a beautiful job website is not easy <br> always. To make your life easier, we are<br> introducing Jobcamp template.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 co-12">
                    <div class="hero-video-head wow fadeInRight" data-wow-delay=".5s">
                        <div class="video-inner">
                            <img src="~/images/logo/logo.svg" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->
<!-- Start Call Action Area -->
<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">History of WUCSA</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet.</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, tempora.</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a href="#" class="btn"><i class="lni lni-angle-double-right"></i> More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /End Call Action Area -->
<!-- Start Staff Area -->
<section class=" testimonials">
    <img class="patern1 wow fadeInRight" data-wow-delay=".3s" src="assets/images/gal/patern1.png" alt="#" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
    <img class="patern2 wow fadeInLeft" data-wow-delay=".5s" src="assets/images/gal/patern1.png" alt="#" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <a href="#" class="a-alt">All Members</a>
                    @if (!Model.Staffs.Any())
                    {
                        <h2>@Localizer["There are no any Staff yet"]</h2>
                    }
                    else
                    {
                        <h2>@Localizer["Our Staff"]</h2>
                    }
                </div>
                <div class="testimonial-inner-head wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <div class=" testimonial-inner">
                        <div class="tns-outer" id="tns2-ow">
                            <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button" data-controls="prev" tabindex="-1" aria-controls="tns2"><i class="lni lni-arrow-left"></i></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns2"><i class="lni lni-arrow-right"></i></button></div>
                            <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">3</span> of 4</div>
                            <div id="tns2-mw" class="tns-ovh">
                                <div class="tns-inner" id="tns2-iw">
                                    <div class="testimonial-slider  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns2" style="transform: translate3d(-33.3333%, 0px, 0px);">

                                        @if (Model.Staffs.Any())
                                        {
                                            foreach (var staff in Model.Staffs)
                                            {
                                                <div class="single-testimonial tns-item px-2">
                                                    <div class="testimonial-img mx-auto">
                                                        <img class="resize-img" src="@staff.ProfilePhotoPath" alt="@staff.FirstName">
                                                    </div>
                                                    <a href="#">
                                                        <h4 class="name">
                                                            @staff.FirstName @staff.LastName
                                                            <span>
                                                                @switch (Model.RCName)
                                                                {
                                                                    case "ru":
                                                                        @staff.PositionRu
                                                                        break;
                                                                    case "uz":
                                                                        @staff.PositionUz
                                                                        break;
                                                                    default:
                                                                        @staff.Position
                                                                        break;
                                                                }
                                                            </span>
                                                        </h4>
                                                    </a>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Staff Area -->
<!-- Start Event Area-->
<section class="latest-event section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <a href="#" class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">@Localizer["All Events"]</a>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">@Localizer["Latest Events"]</h2>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">

                @if (!Model.Events.Any())
                {
                    <h4>@Localizer["There are no any Events yet"]</h4>
                }
                else
                {
                    foreach (var myEvent in Model.Events)
                    {
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="single-event wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <div class="row">
                                    <div class="event-image col-lg-5 col-12">
                                        <img src="@myEvent.CoverPhotoPath" alt="@myEvent.Title cover photo">
                                    </div>
                                    <div class="event-content col-lg-7 col-12">
                                        <h4>
                                            <a asp-page="/Event/Index" asp-route-slug="@myEvent.Slug">
                                                @switch (Model.RCName)
                                                {
                                                    case "ru":
                                                        @myEvent.TitleRu
                                                        break;
                                                    case "uz":
                                                        @myEvent.TitleUz
                                                        break;
                                                    default:
                                                        @myEvent.Title
                                                        break;
                                                }
                                            </a>
                                        </h4>
                                        <p>
                                            @switch (Model.RCName)
                                            {
                                                case "ru":
                                                    @Core.Entities.EventModel.Event.GetShortContent(myEvent.DescriptionRu, 200)
                                                    break;
                                                case "uz":
                                                    @Core.Entities.EventModel.Event.GetShortContent(myEvent.DescriptionUz, 200)
                                                    break;
                                                default:
                                                    @Core.Entities.EventModel.Event.GetShortContent(myEvent.Description, 200)
                                                    break;
                                            }
                                        </p>
                                        <ul>
                                            <li><i class="lni lni-calendar"></i> @myEvent.EventDate.ToString(DateTimeFormatInfo.CurrentInfo.ShortDatePattern)</li>
                                            <li><i class="lni lni-map-marker"></i> @myEvent.EventLocation</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-button">
                                    <ul>
                                        <li><a asp-page="/Event/Index" asp-route-slug="@myEvent.Slug">@Localizer["Read More"]</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>
<!-- /End Event Area-->
<!-- Start News & Blog Area-->
<div class="latest-news-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <a href="#" class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">@Localizer["All News"]</a>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">@Localizer["Latest News & Blog"]</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @if (!Model.Blogs.Any())
            {
                <h4>@Localizer["There are no any Posts yet"]</h4>
            }
            else
            {
                foreach (var blog in Model.Blogs)
                {
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-news wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="image">
                                @if (!string.IsNullOrEmpty(blog.CoverPhotoPath))
                                {
                                    <img class="thumb" src="@blog.CoverPhotoPath" alt="@blog.Title cover photo" />
                                }
                                else
                                {
                                    <img src="~/img/blog_image.png" alt="default cover photo" />
                                }
                            </div>
                            <div class="content-body">
                                <h4 class="title">
                                    <a asp-page="/Blog/Index" asp-route-slug="@blog.Slug">
                                        @switch (Model.RCName)
                                        {
                                            case "ru":
                                                @blog.TitleRu
                                                break;
                                            case "uz":
                                                @blog.TitleUz
                                                break;
                                            default:
                                                @blog.Title
                                                break;
                                        }
                                    </a>
                                </h4>
                                <div class="meta-details">
                                    <ul>
                                        <li><i class="lni lni-calendar"></i> @blog.PostedDate.ToString(DateTimeFormatInfo.CurrentInfo.ShortDatePattern)</li>
                                        <li><i class="lni lni-eye"></i> @blog.ViewCount</li>
                                        <li><i class="lni lni-comments"></i>@blog.Comments.Count</li>
                                    </ul>
                                </div>
                                <p>
                                    @switch (Model.RCName)
                                    {
                                        case "ru":
                                            @WUCSA.Core.Entities.BlogModel.Blog.GetShortContent(blog.ContentRu, 300)
                                            break;
                                        case "uz":
                                            @WUCSA.Core.Entities.BlogModel.Blog.GetShortContent(blog.ContentUz, 300)
                                            break;
                                        default:
                                            @WUCSA.Core.Entities.BlogModel.Blog.GetShortContent(blog.Content, 300)
                                            break;
                                    }
                                </p>
                                <div class="button">
                                    <a asp-page="/Blog/Index" asp-route-slug="@blog.Slug" class="btn">@Localizer["Read More"]</a>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }

        </div>
    </div>
</div>
<!-- /End News & Blog Area-->
<!-- Start Gallery Area-->
<section class="our-gallery section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10 col-12">
                <div class="content-left">
                    <div calss="row">
                        <div calss="col-lg-6 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="wow fadeInLeft" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                        <img class="single-img" src="~/images/gallery/two_persons.jpg" alt="#">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                        <img class="single-img mt-50" src="~/images/gallery/4_pesons.jpg" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div calss="col-lg-6 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                        <img class="single-img minus-margin" src="~/images/gallery/6_persons.jpg" alt="#">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">

                                    <div class="wow fadeInLeft" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                        <img class="single-img mt-30" src="~/images/gallery/evnt.jpg" alt="#">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 col-12">

                <div class="content-right">
                    <h2>@Localizer["Gallery"]</h2>
                    <h3>@Localizer["Images & Videos"]</h3>
                    <div calss="row">
                        <div calss="col-lg-6 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="wow fadeInRight" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                                        <img class="single-img minus-margin" src="~/images/gallery/many_persons.jpg" alt="#">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                                        <img class="single-img -mt-80" src="~/images/gallery/flg.jpg" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div calss="col-lg-6 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="wow fadeInRight" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                                        <a href="#">
                                            <div class="media-body">
                                                <i class="lni lni-grid-alt"></i>
                                                <h6 class="">@Localizer["See More"]</h6>
                                                <p class="">
                                                    @Localizer["More Images & Videos in our Gallery"]
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">

                                    <div class="wow fadeInRight" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                                        <img class="single-img -mt-50" src="~/images/gallery/three_persons.jpg" alt="#">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Ende Gallery Area-->
<!-- Start Clients Area -->
<div class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                <div class="client-logo">
                    <img src="assets/images/clients/client1.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client2.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client3.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client4.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client5.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client6.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client2.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client3.png" alt="#">
                </div>
                <div class="client-logo">
                    <img src="assets/images/clients/client4.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Clients Area -->

@section Scripts {
    <script src="~/lib/tinyslider/tiny-slider.js"></script>
    <script>
        $(document).ready(function () {
            resizer();
        });
        window.onresize = function () {
            resizer();
        };

        function resizer() {
            var cssWidth = $('.testimonial-img').css("width");
            var cssHeight = parseInt(cssWidth) * 4 / 3;
            $('.resize-img').css("height", cssHeight);
        }

        //====== Clients Logo Slider
        tns({
            container: '.client-logo-carousel',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                }
            }
        });

        //========= testimonial
        tns({
            container: '.testimonial-slider',
            items: 1,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                992: {
                    items: 3,
                },
                1170: {
                    items: 3,
                }
            }
        });
        function onSubmit(token) {
            document.getElementById("reg-form").submit();
        }

        document.getElementById("header_home_id").className = "active";

    </script>
}
