@page  "{slug}"
@model WUCSA.Web.Pages.Event.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = $"{ViewData["EventTitle"].ToString()} - {Localizer["EventTitle"].Value}";
    Layout = "_Layout";
}

@section Head {
        @{
            var imgUrl = $"http://wucsa.com{Model.Event.CoverPhotoPath}";
            var eventUrl = $"http://wucsa.com/event/{Model.Event.Slug}";
        }
        <meta name="author" content="@Localizer["AuthorFullName"]" />
        <meta name="keywords" content="@Localizer["EventKeyWords"], @ViewData["KeyWords"]" />
        <meta name="description" content="@ViewData["EventDescription"]" />
        <meta name="image" content="@imgUrl" />

        <meta property="og:type" content="article" />
        <meta property="og:url" content="@eventUrl" />
        <meta property="og:title" content="@ViewData["EventTitle"].ToString()" />
        <meta property="og:description" content="@ViewData["EventDescription"]" />
        <meta property="og:image" content="@imgUrl" />

        <meta name="twitter:card" content="@Localizer["EventCard"]" />
        <meta name="twitter:url" content="@eventUrl" />
        <meta name="twitter:title" content="@ViewData["EventTitle"].ToString()" />
        <meta name="twitter:description" content="@ViewData["EventDescription"]" />
        <meta name="twitter:creator" content="@Localizer["AuthorFullName"]" />
        <meta name="twitter:image" content="@imgUrl" />
}

@section CSS {
    <link rel="stylesheet" href="~/css/event_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@ViewData["EventTitle"].ToString()</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">Home</a></li>
                    <li><a asp-page="/Event/List" asp-route-location="World">@Localizer["Events"]</a></li>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <li><a asp-page="/Event/Edit" asp-route-id="@Model.Event.Id">@Localizer["Edit this Event"]</a></li>
                        <li><a asp-page="/Event/Delete" asp-route-id="@Model.Event.Id">@Localizer["Delete this Event"]</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section event-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    <div class="event-thumbnils">
                        @if (!string.IsNullOrEmpty(Model.Event.CoverPhotoPath))
                        {
                            <img src="@Model.Event.CoverPhotoPath" alt="@Model.Event.Title cover photo" />
                        }
                        else
                        {
                            <img src="~/img/blog_image.png" alt="default cover photo" />
                        }
                    </div>
                    <div class="event-details">
                        <div class="detail-inner">
                            <h2 class="event-title">
                                <a asp-page="/Event/Index" asp-route-slug="@Model.Event.Slug">@ViewData["EventTitle"]</a>
                            </h2>
                            @switch (Model.RCName)
                            {
                                case "ru":
                                    <p>@Model.Event.DescriptionRu</p>
                                    break;
                                case "uz":
                                    <p>@Model.Event.DescriptionUz</p>
                                    break;
                                default:
                                    <p>@Model.Event.Description</p>
                                    break;
                            }
                            <h4>@Localizer["Event Date"]: @Model.Event.EventDate.ToString("dd MMMM, yyyy")</h4>
                            <h4>@Localizer["Location"]: @Model.Event.Location</h4>
                            <ul class="custom-flex event-meta mb-20">
                                @switch (Model.RCName)
                                {
                                    case "ru":
                                        @foreach (var eventSportType in Model.Event.EventSportTypes)
                                        {
                                            <li><a asp-page="/SportType/Index" asp-route-slug="@eventSportType.SportType.Slug">@eventSportType.SportType.NameRu</a></li>
                                        }
                                        break;
                                    case "uz":
                                        @foreach (var eventSportType in Model.Event.EventSportTypes)
                                        {
                                            <li><a asp-page="/SportType/Index" asp-route-slug="@eventSportType.SportType.Slug">@eventSportType.SportType.NameUz</a></li>
                                        }
                                        break;
                                    default:
                                        @foreach (var eventSportType in Model.Event.EventSportTypes)
                                        {
                                            <li><a asp-page="/SportType/Index" asp-route-slug="@eventSportType.SportType.Slug">@eventSportType.SportType.Name</a></li>
                                        }
                                        break;
                                }
                            </ul>

                            <div class="event-tags-media">
                                <div class="event-tags popular-tag-widget mb-xl-40">
                                    <div class="tags">
                                        @if (Model.Event.RulesFilePath != null)
                                        {
                                            <a href="@Model.Event.RulesFilePath"><i class="lni lni-download"></i>&nbsp;&nbsp;@Localizer["Rules (PDF)"]</a>
                                        }
                                        
                                        @if (Model.Event.EventPartsFilePath != null)
                                        {
                                            <a href="@Model.Event.EventPartsFilePath"><i class="lni lni-download"></i>&nbsp;&nbsp;@Localizer["Participants (PDF)"]</a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="event-tags-media">
                                <div class="event-social-media">
                                    <h5 class="share-title">@Localizer["Social Share"]</h5>
                                    <ul class="custom-flex">
                                        <li>
                                            <a id="fb-share" href="#">
                                                <i class="lni lni-facebook-original"></i>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a id="tw-share" href="#">
                                                    <i class="lni lni-twitter-original"></i>
                                                </a>
                                            </li>*@
                                        <li>
                                            <a id="tg-share" href="#">
                                                <i class="lni lni-telegram-original"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 col-md-12 col-12">
                <div class="sidebar">
                    <div class="widget popular-feeds">
                        <h5 class="widget-title"><span>@Localizer["Top Events"]</span></h5>
                        <div class="popular-feed-loop">
                            @switch (Model.RCName)
                            {
                                case "ru":
                                    @foreach (var latestEvent in Model.LatestEvents)
                                    {
                                        <div class="single-popular-feed">
                                            <div class="feed-desc">
                                                <h6 class="post-title">
                                                    <a asp-page="/Event/Index" asp-route-slug="@latestEvent.Slug">
                                                        @latestEvent.TitleRu
                                                    </a>
                                                </h6>
                                                <span class="time"><i class="lni lni-calendar"></i>&nbsp;@latestEvent.PostedDate.ToString("dd MMMM, yyyy")</span>
                                            </div>
                                        </div>
                                    }
                                    break;
                                case "uz":
                                    @foreach (var latestEvent in Model.LatestEvents)
                                    {
                                        <div class="single-popular-feed">
                                            <div class="feed-desc">
                                                <h6 class="post-title">
                                                    <a asp-page="/Event/Index" asp-route-slug="@latestEvent.Slug">
                                                        @latestEvent.TitleUz
                                                    </a>
                                                </h6>
                                                <span class="time"><i class="lni lni-calendar"></i>&nbsp;@latestEvent.PostedDate.ToString("dd MMMM, yyyy")</span>
                                            </div>
                                        </div>
                                    }
                                    break;
                                default:
                                    @foreach (var latestEvent in Model.LatestEvents)
                                    {
                                        <div class="single-popular-feed">
                                            <div class="feed-desc">
                                                <h6 class="post-title">
                                                    <a asp-page="/Event/Index" asp-route-slug="@latestEvent.Slug">
                                                        @latestEvent.Title
                                                    </a>
                                                </h6>
                                                <span class="time"><i class="lni lni-calendar"></i>&nbsp;@latestEvent.PostedDate.ToString("dd MMMM, yyyy")</span>
                                            </div>
                                        </div>
                                    }
                                    break;
                            }

                        </div>
                    </div>

                    <div class="widget popular-tag-widget">
                        <h5 class="widget-title"><span>Facebook</span></h5>
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0"></script>
                        <div class="fb-page" data-href="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/"
                             data-tabs="timeline" data-width="" data-height=""
                             data-small-header="false" data-adapt-container-width="true"
                             data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/">International Combat Aikido Association</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            var curentUrl = window.location.href;
            var encodedUrl = encodeURIComponent(curentUrl);
            var fbShareUrl = "http://www.facebook.com/share.php?u=" + encodedUrl;
            var tgShareUrl = "https://t.me/share/url?url=" + encodedUrl;
            $('#fb-share').attr("href", fbShareUrl);
            $('#tg-share').attr("href", tgShareUrl);
        });
    </script>
}
