@page
@model WUCSA.Web.Pages.SportType.CreateModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Create"];
    Layout = "_Layout";
}

@section CSS {
    <link rel="stylesheet" href="~/css/rank_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["Create new Type of Sport"]</h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="/SportType/List">@Localizer["Types of Sport"]</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="rank-post section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="rank-information">
                    <h3 class="title">@Localizer["Rank Information"]</h3>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">

                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@Localizer["Rules (PDF)"]</label>
                                    <div class="button">
                                        <a style="margin-bottom: 2%;" class="btn file-btn">
                                            <span>@Localizer["Choose File"]</span>
                                            <input type="file" asp-for="Input.UploadPdf" accept="application/pdf" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.SportType.Name" class="control-label"></label>
                                    <input asp-for="Input.SportType.Name" class="form-control" />
                                    <span asp-validation-for="Input.SportType.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.SportType.NameRu" class="control-label"></label>
                                    <input asp-for="Input.SportType.NameRu" class="form-control" />
                                    <span asp-validation-for="Input.SportType.NameRu" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.SportType.NameUz" class="control-label"></label>
                                    <input asp-for="Input.SportType.NameUz" class="form-control" />
                                    <span asp-validation-for="Input.SportType.NameUz" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.SportType.Description" class="control-label"></label>
                                    <span asp-validation-for="Input.SportType.Description" class="text-danger"></span>
                                    <textarea asp-for="Input.SportType.Description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.SportType.DescriptionRu" class="control-label"></label>
                                    <span asp-validation-for="Input.SportType.DescriptionRu" class="text-danger"></span>
                                    <textarea asp-for="Input.SportType.DescriptionRu" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Input.SportType.DescriptionUz" class="control-label"></label>
                                    <span asp-validation-for="Input.SportType.DescriptionUz" class="text-danger"></span>
                                    <textarea asp-for="Input.SportType.DescriptionUz" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 button">
                                <button class="btn">
                                    @Localizer["Create"]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
