@page "{slug}"
@model WUCSA.Web.Pages.SportType.IndexModel
@inject IViewLocalizer Localizer
@{
    var cardTitle = ViewData["SportName"].ToString();
    ViewData["Title"] = cardTitle;
    Layout = "_Layout";
}

@section Head {
    @{
        var imgUrl = $"http://www.wucsa.com/images/favicon.ico";
        var sportUrl = $"http://wucsa.com/SportType/{Model.SportType.Slug}";
    }

    <meta name="author" content="@Localizer["AuthorFullName"]" />
    <meta name="keywords" content="@Localizer["SportKeyWords"], @ViewData["SportName"]" />
    <meta name="description" content="@ViewData["SportDescription"]" />
    <meta name="image" content="@imgUrl" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="@sportUrl" />
    <meta property="og:title" content="@cardTitle" />
    <meta property="og:description" content="@ViewData["SportDescription"]" />
    <meta property="og:image" content="@imgUrl" />

    <meta name="twitter:card" content="@cardTitle" />
    <meta name="twitter:url" content="@sportUrl" />
    <meta name="twitter:title" content="@cardTitle" />
    <meta name="twitter:description" content="@ViewData["SportDescription"]" />
    <meta name="twitter:creator" content="@Localizer["AuthorFullName"]" />
    <meta name="twitter:image" content="@imgUrl" />
}

@section CSS {
    <link rel="stylesheet" href="~/css/rank_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">
                        @cardTitle
                    </h1>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="/SportType/List">@Localizer["Types of Sport"]</a></li>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <li><a asp-page="/SportType/Edit" asp-route-id="@Model.SportType.Id">@Localizer["Edit this Type of Sport"]</a></li>
                        <li><a asp-page="/SportType/Delete" asp-route-Id="@Model.SportType.Id">@Localizer["Delete this Type of Sport"]</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section sport-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="single-inner">
                    <div class="type-details">
                        <div class="detail-inner">
                            <h2 class="type-title">
                                @ViewData["SportName"]
                            </h2>
                            <p>
                                @switch (Model.RCName)
                                {
                                    case "ru":
                                        @Model.SportType.DescriptionRu
                                        break;
                                    case "uz":
                                        @Model.SportType.DescriptionUz
                                        break;
                                    default:
                                        @Model.SportType.Description
                                        break;
                                }
                            </p>

                            <div class="type-tags-media">
                                <div class="type-tags popular-tag-widget mb-xl-40">
                                    <h5 class="tag-title">@Localizer["Rules (PDF)"]</h5>
                                    <div class="tags">
                                        <a href="@ViewData["PDFFilePath"]"><i class="lni lni-download"></i>  @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

