@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <div class="button">
        <a class="login" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            @{
                var user = await UserManager.GetUserAsync(User);
                <img id="logged-img" src="@user?.ProfilePhotoPath" class="rounded-circle" alt="@user?.UserName Photo" />
            }
            @User.Identity.Name
        </a>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
               <button type="submit" class="nav-link btn btn-link">@Localizer["Logout"]</button>
        </form>
    </div>
}
else
{
    <div class="button">
        <a class="login" asp-area="Identity" asp-page="/Account/Login">
            <i class="lni lni-lock-alt"></i> @Localizer["Login"]"
        </a>
        <a class="btn" asp-area="Identity" asp-page="/Account/Register">@Localizer["Sign Up"]</a>
    </div>
}



