@page "{rankId}/{rankPartId}"
@using Core.Entities.RankModel
@model WUCSA.Web.Pages.RankParticipant.EditModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Edit"];
    Layout = "_Layout";
    var num = Model.Input.RankParticipant.Participants.Count;
}


@section CSS {
    <link rel="stylesheet" href="~/css/rank_style.css" />
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Localizer["Create new Ranking List"]</h1>
                    <p>
                        Business plan draws on a wide range of knowledge from different business<br> disciplines.
                        Business draws on a wide range of different business .
                    </p>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">@Localizer["Home"]</a></li>
                    <li><a asp-page="/Rank/List">@Localizer["Rank"]</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="add-part section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="add-part-inner box">
                    <div class="post-header align-items-center justify-content-center">
                        <h3>Ranking List information</h3>
                    </div>
                    <form class="form-ad needs-validation" method="post" novalidate>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label for="validationCustom" class="control-label">Weight Category</label>
                                    <input id="validationCustom" asp-for="Input.RankParticipant.Weight" type="number" class="form-control" required min="1" max="200" />
                                    <div class="invalid-feedback">
                                        Please enter weight category
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Input.RankParticipant.Gender" class="control-label"></label>
                                    <select class="select" asp-for="Input.RankParticipant.Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                                        <option value="" selected disabled>Please select Gender</option>
                                    </select>
                                    <span asp-validation-for="Input.RankParticipant.Gender" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div id="main_row">
                            @if (Model.Input.RankParticipant.Participants.Count > 0)
                            {
                                @for (int i = 0; i < Model.Input.RankParticipant.Participants.Count; i++)
                                {
                                    <div class="row part_row">
                                        <h3 class="single-section-title">Participant @(i+1)</h3>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-12">
                                                <div class="form-group">
                                                    <label for="validationCustom@(i)" class="control-label">Position Number</label>
                                                    <input id="validationCustom@(i)" type="number" name="Participant[@i].PositionNumber" value="@Model.Input.RankParticipant.Participants.ToList()[i].PositionNumber" class="form-control" required min="1" max="200" />
                                                    <div class="invalid-feedback">
                                                        Please enter the position number in the rank
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="control-label">Birth Date</label>
                                                    <input type="date" name="Model[@i].BirthDate" data-val="true" value="@Model.Input.RankParticipant.Participants.ToList()[i].BirthDate.ToString("yyyy-MM-dd")" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-12">
                                                <div class="form-group">
                                                    <label class="control-label">Participant Weight</label>
                                                    <input type="number" name="Model[@i].Weight" value="@Model.Input.RankParticipant.Participants.ToList()[i].Weight" class="form-control" min="1" max="400" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="validationCustom@(i)" class="control-label">First Name</label>
                                                    <input id="validationCustom@(i)" type="text" name="Model[@i].FirstName" value="@Model.Input.RankParticipant.Participants.ToList()[i].FirstName" class="form-control" required maxlength="40" />
                                                    <div class="invalid-feedback">
                                                        Please enter First Name
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="validationCustom@(i)" class="control-label">Last Name</label>
                                                    <input id="validationCustom@(i)" type="text" name="Model[@i].LastName" value="@Model.Input.RankParticipant.Participants.ToList()[i].LastName" class="form-control" required maxlength="40" />
                                                    <div class="invalid-feedback">
                                                        Please enter Last Name
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom@(i)" class="control-label">Location</label>
                                            <input id="validationCustom@(i)" type="text" name="Model[@i].Location" value="@Model.Input.RankParticipant.Participants.ToList()[i].Location" class="form-control" required maxlength="100" />
                                            <div class="invalid-feedback">
                                                Please enter the country, state or city of the representative
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <textarea class="form-control h-75" rows="4" name="Model[@i].Description" maxlength="400">@Model.Input.RankParticipant.Participants.ToList()[i].Description</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Описание</label>
                                            <textarea class="form-control h-75" rows="4" name="Model[@i].DescriptionRu" maxlength="400">@Model.Input.RankParticipant.Participants.ToList()[i].DescriptionRu</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tavsif</label>
                                            <textarea class="form-control h-75" rows="4" name="Model[@i].DescriptionUz" maxlength="400">@Model.Input.RankParticipant.Participants.ToList()[i].DescriptionUz</textarea>
                                        </div>
                                        <div class="add-post-btn float-right">
                                            <a type="button" class="btn-delete">
                                                <i class="lni lni-remove-file"></i>
                                                Delete This Participant
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div>
                            <div class="add-post-btn mt-20">
                                <a type="button" id="btn-add-new" class="btn-added">
                                    <i class="lni lni-add-files"></i> Add New
                                    Participant
                                </a>
                            </div>
                        </div>
                        <div class="row mt-40">
                            <div class="col-3 mx-auto">
                                <div class="button">
                                    <button class="btn" type="submit">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="totalContacts" value="@num" />
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            document.getElementById("totalContacts").value = "0";
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        $("#btn-add-new").click(function () {
            var tc = parseInt($("#totalContacts").val());
            tc = tc + 1;
            $("#totalContacts").val(tc)

            $("#main_row").append(
                `<div class="row part_row">
                            <h3 class="single-section-title">Participant ${tc}</h3>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="validationCustom${tc - 1}" class="control-label">Position Number</label>
                                        <input id="validationCustom${tc - 1}" type="number" name="Model[${tc - 1}].PositionNumber" class="form-control" required min="1" max="200" />
                                        <div class="invalid-feedback">
                                            Please enter the position number in the rank
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">Birth Date</label>
                                        <input type="date" name="Model[${tc - 1}].BirthDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="form-group">
                                        <label class="control-label">Participant Weight</label>
                                        <input type="number" name="Model[${tc - 1}].Weight" class="form-control" min="1" max="400" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="validationCustom${tc - 1}" class="control-label">First Name</label>
                                        <input id="validationCustom${tc - 1}" type="text" name="Model[${tc - 1}].FirstName" class="form-control" required maxlength="40" />
                                        <div class="invalid-feedback">
                                            Please enter First Name
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom${tc - 1}" class="control-label">Last Name</label>
                                        <input id="validationCustom${tc - 1}" type="text" name="Model[${tc - 1}].LastName" class="form-control" required maxlength="40" />
                                        <div class="invalid-feedback">
                                            Please enter Last Name
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="validationCustom${tc - 1}" class="control-label">Location</label>
                                <input id="validationCustom${tc - 1}" type="text" name="Model[${tc - 1}].Location" class="form-control" required maxlength="100" />
                                <div class="invalid-feedback">
                                    Please enter the country, state or city of the representative
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea class="form-control h-75" rows="4" name="Model[${tc - 1}].Description" maxlength="400"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Описание</label>
                                <textarea class="form-control h-75" rows="4" name="Model[${tc - 1}].DescriptionRu" maxlength="400"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Tavsif</label>
                                <textarea class="form-control h-75" rows="4" name="Model[${tc - 1}].DescriptionUz" maxlength="400"></textarea>
                            </div>
                            <div class="add-post-btn float-right">
                                <a type="button" class="btn-delete"><i class="lni lni-remove-file"></i>
                                    Delete This Participant
                                </a>
                            </div>
                        </div>`
            )
        });

        $(document).on('click', '.btn-delete', function () {
            var tc = parseInt($("#totalContacts").val());
            tc = tc - 1;
            $("#totalContacts").val(tc)

            $(this).parent().parent().remove();
        });
    </script>
}