@page "{slug}"
@model WUCSA.Web.Pages.Blog.IndexModel

@{ ViewData["Title"] = Model.Blog.Title;
    Layout = "_Layout"; }

@section Head {
    @{ var imgUrl = $"https://wucsa.com{Model.Blog.CoverPhotoPath}";
        var articleUrl = $"https://wucsa.net/blog/{Model.Blog.Slug}";
        /*var shortContent = Blog.GetShortContent(Model.Blog.Summary, 200);*/ }

    <meta name="author" content="@Model.Blog.Author" />
    <meta name="keywords" content="@Model.Tags" />
    <meta name="image" content="@imgUrl" />
    <meta property="og:title" content="@Model.Blog.Title" />
    <meta property="og:site_name" content="WUCSA Blog" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@imgUrl" />
    <meta property="og:url" content="@articleUrl" />
    <meta property="article:published_time" content="@Model.Blog.PostedDate" />
    <meta property="article:author" content="@Model.Blog.Author" />
    <meta property="article:tags" content="@Model.Tags" />
    <meta name="twitter:title" content="@Model.Blog.Title" />
    <meta name="twitter:creator" content="@Model.Blog.Author" />
    <meta name="twitter:site" content="WUCSA Blog" />
    <meta name="twitter:image" content="@imgUrl" />
}

@section CSS {
    <link rel="stylesheet" href="~/css/post_style.css" />
}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Model.Blog.Title</h1>
                    <p>
                        Business plan draws on a wide range of knowledge from different business<br> disciplines.
                        Business draws on a wide range of different business .
                    </p>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a asp-area="" asp-page="/Index">Home</a></li>
                    <li><a asp-page="/Blog/List">Blog</a></li>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <li><a asp-page="/Blog/Edit" asp-route-id="@Model.Blog.Id">Edit this Article</a></li>
                        <li><a asp-page="/Blog/Delete" asp-route-id="@Model.Blog.Id">Delete this Article</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-inner">
                    <div class="post-thumbnils">
                        @if (!string.IsNullOrEmpty(Model.Blog.CoverPhotoPath))
                        {
                            <img src="@Model.Blog.CoverPhotoPath" alt="@Model.Blog.Title cover photo" />
                        }
                        else
                        {
                            <img src="~/img/blog_image.png" alt="default cover photo" />
                        }
                    </div>
                    <div class="post-details">
                        <div class="detail-inner">
                            <h2 class="post-title">
                                @Model.Blog.Title
                            </h2>

                            <ul class="custom-flex post-meta">
                                <li>
                                    <a class="a-none">
                                        <i class="lni lni-calendar"></i>
                                        @Model.Blog.PostedDate.ToString("dd MMMM, yyyy")
                                    </a>
                                </li>
                                <li>
                                    <a class="a-none">
                                        <i class="lni lni-comments"></i>
                                        @Model.Comments.Count Comments
                                    </a>
                                </li>
                                <li>
                                    <a class="a-none">
                                        <i class="lni lni-eye"></i>
                                        @Model.Blog.ViewCount View
                                    </a>
                                </li>
                            </ul>
                            @Html.Raw(Model.Blog.Content)
                            <div class="post-tags-media">
                                <div class="post-tags popular-tag-widget mb-xl-40">
                                    <h5 class="tag-title">Related Tags</h5>
                                    <div class="tags">
                                        @{
                                            var tags = Model.Blog.BlogTags.Select(i => i.Tag);
                                            foreach (var tag in tags)
                                            {
                                                <a>@tag</a>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="post-social-media">
                                    <h5 class="share-title">Social Share</h5>
                                    <ul class="custom-flex">
                                        <li>
                                            <a href="#">
                                                <i class="lni lni-twitter-original"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="lni lni-facebook-oval"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="lni lni-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        @if (Model.Blog.Comments.Count > 0 && Model.Blog.IsCommentsLocked == false)
                        {
                            <div class="post-comments">
                                <h3 class="comment-title"><span>@Model.Blog.Comments.Count comments on this post</span></h3>
                                <ul class="comments-list">
                                    @foreach (var comment in Model.Comments)
                                    {
                                        if (comment.IsLocked == false)
                                        {
                                            @if (ViewData["RootCommentId"] == null)
                                            {
                                                ViewData.Add("RootCommentId", comment.Id);
                                            }
                                            else
                                            {
                                                ViewData["RootCommentId"] = comment.Id;
                                            }
                                            <partial name="_CommentsPartial" for="@comment" view-data="ViewData" />
                                        }
                                    }
                                </ul>
                            </div>
                        }
                        <div id="respond-nest">
                            <div id="respond" class="comment-form">
                                @if (!User.Identity.IsAuthenticated)
                                {                                   
                                    <h3 class="comment-reply-title"><span>Leave a comment as a guest or</span><a style="color: #2042e3 !important" asp-area="Identity" asp-page="/Account/Login">Sign In</a></h3>
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-lg-6 col-12">
                                                <div class="form-box form-group">
                                                    <input type="text" asp-for="@Model.CommentAuthorName" required class="form-control form-control-custom" placeholder="Your Name">
                                                    <span class="text-danger" asp-validation-for="@Model.CommentAuthorName"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="form-box form-group">
                                                    <input type="email" asp-for="@Model.CommentAuthorEmail" required class="form-control form-control-custom" placeholder="Your Email">
                                                    <span class="text-danger" asp-validation-for="@Model.CommentAuthorEmail"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-box form-group">
                                                    <span asp-validation-for="@Model.CommentContent" class="text-danger"></span>
                                                    <textarea asp-for="@Model.CommentContent" rows="6" class="form-control form-control-custom" placeholder="Your Comments"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="button">
                                                    <button type="submit" class="btn mouse-dir white-bg">Post Comment <span class="dir-part"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <h3 class="comment-reply-title"><span>Leave a comment</span></h3>
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-12">
                                                <span asp-validation-for="@Model.CommentContent" class="text-danger"></span>
                                                <div class="form-box form-group">
                                                    <textarea asp-for="@Model.CommentContent" rows="6" class="form-control form-control-custom"
                                                              placeholder="Your Comments"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="button">
                                                    <button type="submit" class="btn mouse-dir white-bg">
                                                        Post Comment <span class="dir-part"></span>
                                                    </button>
                                                    <a href="#respond" onclick="prepToFun()" class="reply-link">Cancel Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="col-lg-4 col-md-12 col-12">
                <div class="sidebar">
                    <div class="widget popular-tag-widget">
                        <h5 class="widget-title"><span>Facebook</span></h5>
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0"></script>
                        <div class="fb-page" data-href="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/"
                             data-tabs="timeline" data-width="" data-height=""
                             data-small-header="false" data-adapt-container-width="true"
                             data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/International-Combat-Aikido-Association-434807793270681/">International Combat Aikido Association</a>
                            </blockquote>
                        </div>
                    </div>

                    <div class="widget popular-tag-widget">
                        <h5 class="widget-title"><span>Instagram</span></h5>
                        <div id="pixlee_container"></div>
                        <script type="text/javascript">window.PixleeAsyncInit = function () { Pixlee.init({ apiKey: 'ploM-QKD99wEZtxbFXVa' }); Pixlee.addSimpleWidget({ widgetId: '32803' }); };</script>
                        <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
                    </div>
                </div>
                
            </aside>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function appToFun(e) {
            $("#respond").appendTo($('#rep-' + e));
        };

        function prepToFun() {
            $("#respond").appendTo($('#respond-nest'));
        };
    </script>
}

